@model AuthenticationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Authencation - TMA Solutions</title>

    <!--Core CSS -->
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/bulma.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- Fonts -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">

</head>

<body>


    <!-- Pageloader -->
    <div class="au-pageloader"></div>
    <div class="au-infraloader is-active"></div>

    <!-- Main wrapper -->
    <div class="au-wrapper">

        <!-- Main section -->
        <div id="shop-authentication" class="section">
            <!-- Container -->
            <div class="container">

                <!-- Authentication Layout -->
                <div class="columns account-header is-auth">
                    <div class="column main-column is-tablet-landscape-padded">
                        <!-- Title -->
                        <div class="auth-title">
                            <h2 id="auth-main-title">LOGIN</h2>
                            <img class="brand-filigrane" src="~/img/nephos-greyscale.svg" alt="">
                        </div>
                        <!--Toggler-->
                        <div class="auth-toggler">
                            <input type="checkbox">
                            <div class="toggler-track">
                                <div class="hexagon-wrap">
                                    <div class="hexagon">
                                        <i class="login-icon" data-feather="user"></i>
                                        <i class="register-icon" data-feather="layers"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--New Login-->
                        <div class="main-auth-wrapper">
                            <!--Login wrapper-->
                            <div class="login-form-wrapper">
                                <!--Login-----------------------------------------------------form-->
                                <div class="login-form">
                                    <form id="login-form" asp-action="Login">
                                        <!--Field-->
                                        <div class="field has-flex-label has-validation">
                                            <label>
                                                <span>Email</span>
                                                <span class="error">Please enter a valid email</span>
                                            </label>
                                            <div class="control is-bigger has-icon">
                                                <input asp-for="LoginMail" required id="login-email" type="email" class="input">
                                                <div class="form-icon">
                                                    <i data-feather="mail"></i>
                                                </div>
                                                <div class="error-icon">
                                                    <i data-feather="x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Field-->
                                        <div class="field has-flex-label">
                                            <label>
                                                <span>Password</span>
                                            </label>
                                            <div class="control is-bigger has-icon">
                                                <input asp-for="LoginPass" required id="login-password" type="password" class="input">
                                                <div class="form-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Field-->
                                        <div class="flex-field">
                                            <label class="special-toggle">
                                                <input type="checkbox">
                                                <span class="toggler">
                                                    <span class="active">
                                                        <i data-feather="check"></i>
                                                    </span>
                                                    <span class="inactive">
                                                        <i data-feather="circle"></i>
                                                    </span>
                                                </span>
                                            </label>
                                            <div class="muted-text">Remember me?</div>
                                        </div>
                                        <!--Submit-->
                                        <div class="button-wrap">
                                            <button id="login-submit" type="button" class="button primary-button upper-button raised is-fullwidth is-rounded">Login</button>
                                        </div>
                                        <!--Forgot-->
                                        <div class="forgot-link has-text-centered">
                                            <a>Forgot Password?</a>
                                        </div>
                                    </form>
                                </div>
                                <!--Reset-----------------------------------------------------form-->
                                <div class="reset-form is-hidden">
                                    <form>
                                        <p class="form-description">Enter your email to be able to reset your password. We'll send you an email with the instructions to follow.</p>
                                        <!--Field-->
                                        <div class="field">
                                            <label>Email</label>
                                            <div class="control is-bigger has-icon">
                                                <input asp-for="ResetEmail" type="email" required class="input">
                                                <div class="form-icon">
                                                    <i data-feather="mail"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Submit-->
                                        <div class="button-wrap">
                                            <button type="submit" class="button primary-button upper-button raised is-fullwidth is-rounded">Reset Password</button>
                                        </div>
                                        <!--Back-->
                                        <div class="back-link has-text-centered">
                                            <a>Back To Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--Registration wrapper-->
                            <div class="registration-form-wrapper is-hidden">
                                <!--Registration-----------------------------------------------------form-->
                                <div class="registration-form">
                                    <form asp-action="Register">
                                        <!--Field-->
                                        <div class="field has-flex-label has-validation">
                                            <label>
                                                <span>Email</span>
                                                <span class="error">Please enter a valid email</span>
                                            </label>
                                            <div class="control is-bigger has-icon">
                                                <input asp-for="Email" type="email" required class="input">
                                                <div class="form-icon">
                                                    <i data-feather="mail"></i>
                                                </div>
                                                <div class="error-icon">
                                                    <i data-feather="x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Field-->
                                        <div class="field">
                                            <label>First Name</label>
                                            <div class="control is-bigger has-icon">
                                                <input asp-for="FirstName" type="text" required class="input">
                                                <div class="form-icon">
                                                    <i data-feather="user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Field-->
                                        <div class="field">
                                            <label>Last Name</label>
                                            <div class="control is-bigger has-icon">
                                                <input asp-for="LastName" type="text" required class="input">
                                                <div class="form-icon">
                                                    <i data-feather="user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Field-->
                                        <div class="field">
                                            <label>Password</label>
                                            <div class="control is-bigger has-icon">
                                                <input asp-for="Password" type="password" required class="input">
                                                <div class="form-icon">
                                                    <i data-feather="lock"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Field-->
                                        <div class="flex-field">
                                            <label class="special-toggle">
                                                <input type="checkbox">
                                                <span class="toggler">
                                                    <span class="active">
                                                        <i data-feather="check"></i>
                                                    </span>
                                                    <span class="inactive">
                                                        <i data-feather="circle"></i>
                                                    </span>
                                                </span>
                                            </label>
                                            <div class="muted-text">Subscribe to Newsletter?</div>
                                        </div>
                                        <!--Submit-->
                                        <div class="button-wrap">
                                            <button type="submit" class="button primary-button upper-button raised is-fullwidth is-rounded">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Authentication Layout -->
            </div>
            <!-- /Container -->
        </div>
        <!-- /Main section -->
    </div>
    <!-- /Main wrapper -->

    <script src="~/js/app.js"></script>
    <script>
        function fakeLogin() {
            //Email validation example
            $('#login-email').on('change', function () {
                var $this = $(this);
                var email = $this.val().trim();

                if (!ValidateEmail(email)) {
                    $this.closest('.field').addClass('has-error');
                } else {
                    $this.closest('.field').removeClass('has-error');
                }
            }); //Password Length validation example

            $('#login-password').on('change', function () {
                var $this = $(this);
                var password = $this.val().trim();

                if (!ValidateLength(password, 8)) {
                    $this.closest('.field').addClass('has-error');
                } else {
                    $this.closest('.field').removeClass('has-error');
                }
            }); //Login with one of the fake accounts

            $('#login-submit').on('click', function () {
                if ($('#login-email').val() == "")
                    return;
                if ("" == $('#login-password').val())
                    return;

                var $this = $(this);
                $this.addClass('is-loading');
                $('.small-auth-loader').addClass('is-active');

                $("#login-form").submit();

            });
        }

        function initAuthenticationForms() {
            //Toggle login and registration wrappers
            $('.auth-toggler input').on('change', function () {
                if ($(this).prop('checked')) {
                    $('.login-form-wrapper, .registration-form-wrapper').toggleClass('is-hidden');
                    $('.reset-form').addClass('is-hidden');
                    $('.login-form').removeClass('is-hidden');
                    $('#auth-main-title').html('REGISTER');
                } else {
                    $('.login-form-wrapper, .registration-form-wrapper').toggleClass('is-hidden');
                    $('.reset-form').addClass('is-hidden');
                    $('.login-form').removeClass('is-hidden');
                    $('#auth-main-title').html('LOGIN');
                }
            }); //Toggle login and reset form

            $('.login-form .forgot-link a').on('click', function () {
                $('.login-form, .reset-form').toggleClass('is-hidden');
                $('#auth-main-title').html('FORGOT PASSWORD');
            });
            $('.reset-form .back-link a').on('click', function () {
                $('.login-form, .reset-form').toggleClass('is-hidden');
                $('#auth-main-title').html('LOGIN');
            });
        }

        $(document).ready(function () {
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }

            feather.replace();
            fakeLogin();
            initAuthenticationForms();
        });
    </script>
</body>

</html>