@{
    ViewData["Title"] = "TMA Internship";
}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-sm mb-2 mb-sm-0">
            <h2 class="page-header-title pl-3">@ViewData["Title"]</h2>
        </div>

        <div class="col-sm-auto">
            <a class="btn btn-sm btn-primary mr-4" href="users-add-user.html">
                <i class="tio-user-add mr-1"></i> Add
            </a>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Page Header -->

