
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Internship - TMA Solutions</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing -->
    <link rel="stylesheet" href="~/css/vendor.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css?v=1.0">
</head>

<body class="   footer-offset">

    <script src="~/js/hs-navbar-vertical-aside-mini-cache.js"></script>

    <!-- ONLY DEV -->
    <header id="header" class="navbar navbar-expand-xl navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered default">
        <div class="container">
            <div class="js-mega-menu navbar-nav-wrap hs-menu-initialized hs-menu-horizontal">
                <div class="navbar-brand-wrapper">
                    <!-- Logo -->

                    <a class="navbar-brand" href="~/" aria-label="Front">
                        <img class="navbar-brand-logo" src="~/img/TMA-logo1.png" alt="Logo">
                    </a>

                    <!-- End Logo -->
                </div>

                <!-- Secondary Content -->
                <div class="navbar-nav-wrap-content-right">
                    <!-- Navbar -->
                    <ul class="navbar-nav align-items-center flex-row">
                        <li class="nav-item d-none d-sm-inline-block">
                            <!-- Notification -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options="{
                 &quot;target&quot;: &quot;#notificationDropdown&quot;,
                 &quot;type&quot;: &quot;css-animation&quot;
               }" data-hs-unfold-target="#notificationDropdown" data-hs-unfold-invoker="">
                                    <i class="tio-notifications-on-outlined"></i>
                                    <span class="btn-status btn-sm-status btn-status-danger"></span>
                                </a>

                                <div id="notificationDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" style="width: 25rem; animation-duration: 300ms;" data-hs-target-height="518.594" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut">
                                    <!-- Header -->
                                    <div class="card-header">
                                        <span class="card-title h4">Notifications</span>

                                        <!-- Unfold -->
                                        <div class="hs-unfold">
                                            <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options="{
                       &quot;target&quot;: &quot;#notificationSettingsOneDropdown&quot;,
                       &quot;type&quot;: &quot;css-animation&quot;
                     }" data-hs-unfold-target="#notificationSettingsOneDropdown" data-hs-unfold-invoker="">
                                                <i class="tio-more-vertical"></i>
                                            </a>
                                            <div id="notificationSettingsOneDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" data-hs-target-height="0" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                                <span class="dropdown-header">Settings</span>
                                                <a class="dropdown-item" href="#">
                                                    <i class="tio-archive dropdown-item-icon"></i> Archive all
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="tio-all-done dropdown-item-icon"></i> Mark all as read
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="tio-toggle-off dropdown-item-icon"></i> Disable notifications
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="tio-gift dropdown-item-icon"></i> What's new?
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <span class="dropdown-header">Feedback</span>
                                                <a class="dropdown-item" href="#">
                                                    <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                                                </a>
                                            </div>
                                        </div>
                                        <!-- End Unfold -->
                                    </div>
                                    <!-- End Header -->
                                    <!-- Nav -->
                                    <ul class="nav nav-tabs nav-justified" id="notificationTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="notificationNavOne-tab" data-toggle="tab" href="#notificationNavOne" role="tab" aria-controls="notificationNavOne" aria-selected="true">Messages (3)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="notificationNavTwo-tab" data-toggle="tab" href="#notificationNavTwo" role="tab" aria-controls="notificationNavTwo" aria-selected="false">Archived</a>
                                        </li>
                                    </ul>
                                    <!-- End Nav -->
                                    <!-- Body -->
                                    <div class="card-body-height">
                                        <!-- Tab Content -->
                                        <div class="tab-content" id="notificationTabContent">
                                            <div class="tab-pane fade show active" id="notificationNavOne" role="tabpanel" aria-labelledby="notificationNavOne-tab">
                                                <ul class="list-group list-group-flush navbar-card-list-group">
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck1" checked="">
                                                                        <label class="custom-control-label" for="notificationCheck1"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-circle">
                                                                        <img class="avatar-img" src="~/img/img3.jpg" alt="Image Description">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Brian Warner</span>
                                                                <p class="card-text font-size-sm">changed an issue from "In Progress" to <span class="badge badge-success">Review</span></p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">2hr</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck2" checked="">
                                                                        <label class="custom-control-label" for="notificationCheck2"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-soft-dark avatar-circle">
                                                                        <span class="avatar-initials">K</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Klara Hampton</span>
                                                                <p class="card-text font-size-sm">mentioned you in a comment</p>
                                                                <blockquote class="blockquote blockquote-sm">
                                                                    Nice work, love! You really nailed it. Keep it up!
                                                                </blockquote>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">10hr</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck4" checked="">
                                                                        <label class="custom-control-label" for="notificationCheck4"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-circle">
                                                                        <img class="avatar-img" src="~/img/img10.jpg" alt="Image Description">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Ruby Walter</span>
                                                                <p class="card-text font-size-sm">joined the Slack group HS Team</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">3dy</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck3">
                                                                        <label class="custom-control-label" for="notificationCheck3"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-circle">
                                                                        <img class="avatar-img" src="~/img/google.svg" alt="Image Description">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">from Google</span>
                                                                <p class="card-text font-size-sm">Start using forms to capture the information of prospects visiting your Google website</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">17dy</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck5">
                                                                        <label class="custom-control-label" for="notificationCheck5"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-circle">
                                                                        <img class="avatar-img" src="~/img/img7.jpg" alt="Image Description">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Sara Villar</span>
                                                                <p class="card-text font-size-sm">completed <i class="tio-folder-bookmarked text-primary"></i> FD-7 task</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">2mn</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                </ul>
                                            </div>

                                            <div class="tab-pane fade" id="notificationNavTwo" role="tabpanel" aria-labelledby="notificationNavTwo-tab">
                                                <ul class="list-group list-group-flush navbar-card-list-group">
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck7">
                                                                        <label class="custom-control-label" for="notificationCheck7"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-soft-dark avatar-circle">
                                                                        <span class="avatar-initials">A</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Anne Richard</span>
                                                                <p class="card-text font-size-sm">accepted your invitation to join Notion</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">1dy</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck6">
                                                                        <label class="custom-control-label" for="notificationCheck6"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-circle">
                                                                        <img class="avatar-img" src="~/img/img5.jpg" alt="Image Description">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Finch Hoot</span>
                                                                <p class="card-text font-size-sm">left Slack group HS projects</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">3dy</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck8">
                                                                        <label class="custom-control-label" for="notificationCheck8"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-dark avatar-circle">
                                                                        <span class="avatar-initials">HS</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Htmlstream</span>
                                                                <p class="card-text font-size-sm">you earned a "Top endorsed" <i class="tio-verified text-primary"></i> badge</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">6dy</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck9">
                                                                        <label class="custom-control-label" for="notificationCheck9"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-circle">
                                                                        <img class="avatar-img" src="~/img/img8.jpg" alt="Image Description">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Linda Bates</span>
                                                                <p class="card-text font-size-sm">Accepted your connection</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">17dy</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                    <!-- Item -->
                                                    <li class="list-group-item custom-checkbox-list-wrapper">
                                                        <div class="row">
                                                            <div class="col-auto position-static">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-control custom-checkbox custom-checkbox-list">
                                                                        <input type="checkbox" class="custom-control-input" id="notificationCheck10">
                                                                        <label class="custom-control-label" for="notificationCheck10"></label>
                                                                        <span class="custom-checkbox-list-stretched-bg"></span>
                                                                    </div>
                                                                    <div class="avatar avatar-sm avatar-soft-dark avatar-circle">
                                                                        <span class="avatar-initials">L</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col ml-n3">
                                                                <span class="card-title h5">Lewis Clarke</span>
                                                                <p class="card-text font-size-sm">completed <i class="tio-folder-bookmarked text-primary"></i> FD-134 task</p>
                                                            </div>
                                                            <small class="col-auto text-muted text-cap">2mn</small>
                                                        </div>
                                                        <a class="stretched-link" href="#"></a>
                                                    </li>
                                                    <!-- End Item -->
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Tab Content -->
                                    </div>
                                    <!-- End Body -->
                                    <!-- Card Footer -->
                                    <a class="card-footer text-center" href="#">
                                        View all notifications
                                        <i class="tio-chevron-right"></i>
                                    </a>
                                    <!-- End Card Footer -->
                                </div>
                            </div>
                            <!-- End Notification -->
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <!-- Apps -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options="{
                 &quot;target&quot;: &quot;#appsDropdown&quot;,
                 &quot;type&quot;: &quot;css-animation&quot;
               }" data-hs-unfold-target="#appsDropdown" data-hs-unfold-invoker="">
                                    <i class="tio-menu-vs-outlined"></i>
                                </a>

                                <div id="appsDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" style="width: 25rem; animation-duration: 300ms;" data-hs-target-height="450" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut">
                                    <!-- Header -->
                                    <div class="card-header">
                                        <span class="card-title h4">Web apps &amp; services</span>
                                    </div>
                                    <!-- End Header -->
                                    <!-- Body -->
                                    <div class="card-body card-body-height">
                                        <!-- Nav -->
                                        <div class="nav nav-pills flex-column">
                                            <a class="nav-link" href="#">
                                                <div class="media align-items-center">
                                                    <span class="mr-3">
                                                        <img class="avatar avatar-xs avatar-4by3" src="~/img/atlassian.svg" alt="Image Description">
                                                    </span>
                                                    <div class="media-body text-truncate">
                                                        <span class="h5 mb-0">Atlassian</span>
                                                        <span class="d-block font-size-sm text-body">Security and control across Cloud</span>
                                                    </div>
                                                </div>
                                            </a>

                                            <a class="nav-link" href="#">
                                                <div class="media align-items-center">
                                                    <span class="mr-3">
                                                        <img class="avatar avatar-xs avatar-4by3" src="~/img/slack.svg" alt="Image Description">
                                                    </span>
                                                    <div class="media-body text-truncate">
                                                        <span class="h5 mb-0">Slack <span class="badge badge-primary badge-pill text-uppercase ml-1">Try</span></span>
                                                        <span class="d-block font-size-sm text-body">Email collaboration software</span>
                                                    </div>
                                                </div>
                                            </a>

                                            <a class="nav-link" href="#">
                                                <div class="media align-items-center">
                                                    <span class="mr-3">
                                                        <img class="avatar avatar-xs avatar-4by3" src="~/img/google-webdev.svg" alt="Image Description">
                                                    </span>
                                                    <div class="media-body text-truncate">
                                                        <span class="h5 mb-0">Google webdev</span>
                                                        <span class="d-block font-size-sm text-body">Work involved in developing a website</span>
                                                    </div>
                                                </div>
                                            </a>

                                            <a class="nav-link" href="#">
                                                <div class="media align-items-center">
                                                    <span class="mr-3">
                                                        <img class="avatar avatar-xs avatar-4by3" src="~/img/frontapp.svg" alt="Image Description">
                                                    </span>
                                                    <div class="media-body text-truncate">
                                                        <span class="h5 mb-0">Frontapp</span>
                                                        <span class="d-block font-size-sm text-body">The inbox for teams</span>
                                                    </div>
                                                </div>
                                            </a>

                                            <a class="nav-link" href="#">
                                                <div class="media align-items-center">
                                                    <span class="mr-3">
                                                        <img class="avatar avatar-xs avatar-4by3" src="~/img/review-rating-shield.svg" alt="Image Description">
                                                    </span>
                                                    <div class="media-body text-truncate">
                                                        <span class="h5 mb-0">HS Support</span>
                                                        <span class="d-block font-size-sm text-body">Customer service and support</span>
                                                    </div>
                                                </div>
                                            </a>

                                            <a class="nav-link" href="#">
                                                <div class="media align-items-center">
                                                    <span class="avatar avatar-xs avatar-soft-dark mr-3">
                                                        <span class="avatar-initials"><i class="tio-apps"></i></span>
                                                    </span>
                                                    <div class="media-body text-truncate">
                                                        <span class="h5 mb-0">More Front products</span>
                                                        <span class="d-block font-size-sm text-body">Check out more HS products</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- End Nav -->
                                    </div>
                                    <!-- End Body -->
                                    <!-- Footer -->
                                    <a class="card-footer text-center" href="#">
                                        View all apps
                                        <i class="tio-chevron-right"></i>
                                    </a>
                                    <!-- End Footer -->
                                </div>
                            </div>
                            <!-- End Apps -->
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <!-- Activity -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options="{
                &quot;target&quot;: &quot;#activitySidebar&quot;,
                &quot;type&quot;: &quot;css-animation&quot;,
                &quot;animationIn&quot;: &quot;fadeInRight&quot;,
                &quot;animationOut&quot;: &quot;fadeOutRight&quot;,
                &quot;hasOverlay&quot;: true,
                &quot;smartPositionOff&quot;: true
               }" data-hs-unfold-target="#activitySidebar" data-hs-unfold-invoker="">
                                    <i class="tio-voice-line"></i>
                                </a>
                            </div>
                            <!-- Activity -->
                        </li>

                        <li class="nav-item">
                            <!-- Account -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker navbar-dropdown-account-wrapper" href="javascript:;" data-hs-unfold-options="{
                 &quot;target&quot;: &quot;#accountNavbarDropdown&quot;,
                 &quot;type&quot;: &quot;css-animation&quot;
               }" data-hs-unfold-target="#accountNavbarDropdown" data-hs-unfold-invoker="">
                                    <div class="avatar avatar-sm avatar-circle">
                                        <img class="avatar-img" src="~/img/chathray.jpg" alt="Image Description">
                                        <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                                    </div>
                                </a>

                                <div id="accountNavbarDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu navbar-dropdown-account hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" style="width: 16rem; animation-duration: 300ms;" data-hs-target-height="396.281" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut">
                                    <div class="dropdown-item-text">
                                        <div class="media align-items-center">
                                            <div class="avatar avatar-sm avatar-circle mr-2">
                                                <img class="avatar-img" src="~/img/chathray.jpg" alt="Image Description">
                                            </div>
                                            <div class="media-body">
                                                <span class="card-title h5">Thach Nguyen</span>
                                                <span class="card-text">chathray@github.com</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-divider"></div>

                                    <!-- Unfold -->
                                    <div class="hs-unfold w-100">
                                        <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;" data-hs-unfold-options="{
                     &quot;target&quot;: &quot;#navSubmenuPagesAccountDropdown1&quot;,
                     &quot;event&quot;: &quot;hover&quot;
                   }" data-hs-unfold-target="#navSubmenuPagesAccountDropdown1" data-hs-unfold-invoker="">
                                            <span class="text-truncate pr-2" title="Set status">Set status</span>
                                            <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker ml-auto"></i>
                                        </a>

                                        <div id="navSubmenuPagesAccountDropdown1" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu hs-unfold-hidden hs-unfold-content-initialized hs-unfold-simple" data-hs-target-height="0" data-hs-unfold-content="">
                                            <a class="dropdown-item" href="#">
                                                <span class="legend-indicator bg-success mr-1"></span>
                                                <span class="text-truncate pr-2" title="Available">Available</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="legend-indicator bg-danger mr-1"></span>
                                                <span class="text-truncate pr-2" title="Busy">Busy</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="legend-indicator bg-warning mr-1"></span>
                                                <span class="text-truncate pr-2" title="Away">Away</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <span class="text-truncate pr-2" title="Reset status">Reset status</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Unfold -->

                                    <a class="dropdown-item" href="#">
                                        <span class="text-truncate pr-2" title="Profile &amp; account">Profile &amp; account</span>
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        <span class="text-truncate pr-2" title="Settings">Settings</span>
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="#">
                                        <div class="media align-items-center">
                                            <div class="avatar avatar-sm avatar-dark avatar-circle mr-2">
                                                <span class="avatar-initials">HS</span>
                                            </div>
                                            <div class="media-body">
                                                <span class="card-title h5">Htmlstream <span class="badge badge-primary badge-pill text-uppercase ml-1">PRO</span></span>
                                                <span class="card-text">hs.example.com</span>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <!-- Unfold -->
                                    <div class="hs-unfold w-100">
                                        <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;" data-hs-unfold-options="{
                     &quot;target&quot;: &quot;#navSubmenuPagesAccountDropdown2&quot;,
                     &quot;event&quot;: &quot;hover&quot;
                   }" data-hs-unfold-target="#navSubmenuPagesAccountDropdown2" data-hs-unfold-invoker="">
                                            <span class="text-truncate pr-2" title="Customization">Customization</span>
                                            <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker  ml-auto"></i>
                                        </a>

                                        <div id="navSubmenuPagesAccountDropdown2" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu hs-unfold-hidden hs-unfold-content-initialized hs-unfold-simple" data-hs-target-height="0" data-hs-unfold-content="">
                                            <a class="dropdown-item" href="#">
                                                <span class="text-truncate pr-2" title="Invite people">Invite people</span>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="text-truncate pr-2" title="Analytics">Analytics</span>
                                                <i class="tio-open-in-new"></i>
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="text-truncate pr-2" title="Customize Front">Customize Front</span>
                                                <i class="tio-open-in-new"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Unfold -->

                                    <a class="dropdown-item" href="#">
                                        <span class="text-truncate pr-2" title="Manage team">Manage team</span>
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="/Login">
                                        <span class="text-truncate pr-2" title="Sign out">Sign out</span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Account -->
                        </li>

                        <li class="nav-item">
                            <!-- Toggle -->
                            <button type="button" class="navbar-toggler btn btn-ghost-secondary rounded-circle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarNavMenu" data-toggle="collapse" data-target="#navbarNavMenu">
                                <i class="tio-menu-hamburger"></i>
                            </button>
                            <!-- End Toggle -->
                        </li>
                    </ul>
                    <!-- End Navbar -->
                </div>
                <!-- End Secondary Content -->
                <!-- Navbar -->
                <div class="navbar-nav-wrap-content-left collapse navbar-collapse" id="navbarNavMenu">
                    <div class="navbar-body">
                        <ul class="navbar-nav flex-grow-1">
                            <!-- Home -->
                            <li>
                                <a class="navbar-nav-link nav-link" href="~/Home">
                                    <i class="tio-home-vs-1-outlined nav-icon"></i> Home
                                </a>
                            </li>
                            <!-- End Home -->
                            <!-- Why -->
                            <li class="hs-has-sub-menu">
                                <a id="dashboardsDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkDashboardsDropdown">
                                    <i class="tio-star-outlined nav-icon"></i> Why TMA?
                                </a>

                                <!-- Dropdown -->
                                <ul id="navLinkDashboardsDropdown" class="hs-sub-menu dropdown-menu dropdown-menu-lg hs-sub-menu-desktop-lg fadeOut animated" aria-labelledby="dashboardsDropdown" style="min-width: 16rem; display: none; animation-duration: 300ms;">
                                    <li>
                                        <a class="dropdown-item" href="./index.html">
                                            <span class="tio-circle nav-indicator-icon"></span> Development process
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="./dashboard-alternative.html">
                                            <span class="tio-circle nav-indicator-icon"></span> Services - Partners
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="./dashboard-alternative.html">
                                            <span class="tio-circle nav-indicator-icon"></span> Professional working environment
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="./dashboard-alternative.html">
                                            <span class="tio-circle nav-indicator-icon"></span> Benefits and competitive income
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Dropdown -->
                            </li>
                            <!-- End Why -->
                            <!-- QA -->
                            <li>
                                <a class="navbar-nav-link nav-link" href="~/index.html">
                                    <i class="tio-help-outlined nav-icon"></i> Q & A
                                </a>
                            </li>
                            <!-- End QA -->
                            <!-- Contacts -->
                            <li>
                                <a class="navbar-nav-link nav-link" href="~/index.html">
                                    <i class="tio-email-outlined nav-icon"></i> Contact
                                </a>
                            </li>
                            <!-- End Contacts -->
                        </ul>
                    </div>
                </div>
                <!-- End Navbar -->
            </div>
        </div>
    </header>
    <script src="./js/demo.js"></script>

    <!-- END ONLY DEV -->
    <!-- Search Form -->
    <div id="searchDropdown" class="hs-unfold-content dropdown-unfold search-fullwidth d-md-none">
        <form class="input-group input-group-merge input-group-borderless">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="tio-search"></i>
                </div>
            </div>

            <input class="form-control rounded-0" type="search" placeholder="Search in front" aria-label="Search in front">

            <div class="input-group-append">
                <div class="input-group-text">
                    <div class="hs-unfold">
                        <a class="js-hs-unfold-invoker" href="javascript:;"
                           data-hs-unfold-options='{
                   "target": "#searchDropdown",
                   "type": "css-animation",
                   "animationIn": "fadeIn",
                   "hasOverlay": "rgba(46, 52, 81, 0.1)",
                   "closeBreakpoint": "md"
                 }'>
                            <i class="tio-clear tio-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End Search Form -->
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main">

        <!-- Content -->
        <div class="content container-fluid">
            @RenderBody()
        </div>
        <!-- End Content -->
        <!-- Footer -->
        <div class="footer">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <p class="font-size-sm mb-0">&copy; Front. <span class="d-none d-sm-inline-block">@DateTime.Now.Year Htmlstream.</span></p>
                </div>
                <div class="col-auto">
                    <div class="d-flex justify-content-end">
                        <!-- List Dot -->
                        <ul class="list-inline list-separator">
                            <li class="list-inline-item">
                                <a class="list-separator-link" href="#">FAQ</a>
                            </li>

                            <li class="list-inline-item">
                                <a class="list-separator-link" href="#">License</a>
                            </li>

                            <li class="list-inline-item">
                                <!-- Keyboard Shortcuts Toggle -->
                                <div class="hs-unfold">
                                    <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;"
                                       data-hs-unfold-options='{
                              "target": "#keyboardShortcutsSidebar",
                              "type": "css-animation",
                              "animationIn": "fadeInRight",
                              "animationOut": "fadeOutRight",
                              "hasOverlay": true,
                              "smartPositionOff": true
                             }'>
                                        <i class="tio-command-key"></i>
                                    </a>
                                </div>
                                <!-- End Keyboard Shortcuts Toggle -->
                            </li>
                        </ul>
                        <!-- End List Dot -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Keyboard Shortcuts -->
    <div id="keyboardShortcutsSidebar" class="hs-unfold-content sidebar sidebar-bordered sidebar-box-shadow">
        <div class="card card-lg sidebar-card">
            <div class="card-header">
                <h4 class="card-header-title">Keyboard shortcuts</h4>

                <!-- Toggle Button -->
                <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-ghost-dark ml-2" href="javascript:;"
                   data-hs-unfold-options='{
                "target": "#keyboardShortcutsSidebar",
                "type": "css-animation",
                "animationIn": "fadeInRight",
                "animationOut": "fadeOutRight",
                "hasOverlay": true,
                "smartPositionOff": true
               }'>
                    <i class="tio-clear tio-lg"></i>
                </a>
                <!-- End Toggle Button -->
            </div>

            <!-- Body -->
            <div class="card-body sidebar-body sidebar-scrollbar">
                <div class="list-group list-group-sm list-group-flush list-group-no-gutters mb-5">
                    <div class="list-group-item">
                        <h5 class="mb-1">Formatting</h5>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span class="font-weight-bold">Bold</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">b</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <em>italic</em>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">i</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <u>Underline</u>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">u</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <s>Strikethrough</s>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Alt</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">s</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span class="small">Small text</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">s</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <mark>Highlight</mark>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">e</kbd>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group list-group-sm list-group-flush list-group-no-gutters mb-5">
                    <div class="list-group-item">
                        <h5 class="mb-1">Insert</h5>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Mention person <a href="#">(@@Brian)</a></span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">@@</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Link to doc <a href="#">(+Meeting notes)</a></span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">+</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <a href="#">#hashtag</a>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">#hashtag</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Date</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">/date</kbd>
                                <kbd class="d-inline-block mb-1">Space</kbd>
                                <kbd class="d-inline-block mb-1">/datetime</kbd>
                                <kbd class="d-inline-block mb-1">/datetime</kbd>
                                <kbd class="d-inline-block mb-1">Space</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Time</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">/time</kbd>
                                <kbd class="d-inline-block mb-1">Space</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Note box</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">/note</kbd>
                                <kbd class="d-inline-block mb-1">Enter</kbd>
                                <kbd class="d-inline-block mb-1">/note red</kbd>
                                <kbd class="d-inline-block mb-1">/note red</kbd>
                                <kbd class="d-inline-block mb-1">Enter</kbd>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group list-group-sm list-group-flush list-group-no-gutters mb-5">
                    <div class="list-group-item">
                        <h5 class="mb-1">Editing</h5>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Find and replace</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">r</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Find next</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">n</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Find previous</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">p</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Indent</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Tab</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Un-indent</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Shift</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Tab</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Move line up</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Shift</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1"><i class="tio-arrow-large-upward-outlined"></i></kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Move line down</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Shift</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1"><i class="tio-arrow-large-downward-outlined font-size-sm"></i></kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Add a comment</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Alt</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">m</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Undo</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">z</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Redo</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">y</kbd>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group list-group-sm list-group-flush list-group-no-gutters">
                    <div class="list-group-item">
                        <h5 class="mb-1">Application</h5>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Create new doc</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Alt</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">n</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Present</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Shift</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">p</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Share</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Shift</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">s</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Search docs</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Shift</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">o</kbd>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>Keyboard shortcuts</span>
                            </div>
                            <div class="col-7 text-right">
                                <kbd class="d-inline-block mb-1">Ctrl</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">Shift</kbd> <small class="text-muted">+</small> <kbd class="d-inline-block mb-1">/</kbd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            <!-- End Body -->
        </div>
    </div>
    <!-- End Keyboard Shortcuts -->
    <!-- ========== END SECONDARY CONTENTS ========== -->
    <!-- JS Implementing Plugins -->
    <script src="~/js/vendor.min.js"></script>

    <!-- JS Front -->
    <script src="~/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // ONLY DEV
            // =======================================================

            if (window.localStorage.getItem('hs-builder-popover') === null) {
                $('#builderPopover').popover('show')
                    .on('shown.bs.popover', function () {
                        $('.popover').last().addClass('popover-dark')
                    });

                $(document).on('click', '#closeBuilderPopover', function () {
                    window.localStorage.setItem('hs-builder-popover', true);
                    $('#builderPopover').popover('dispose');
                });
            } else {
                $('#builderPopover').on('show.bs.popover', function () {
                    return false
                });
            }

            // END ONLY DEV
            // =======================================================


            // BUILDER TOGGLE INVOKER
            // =======================================================
            $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
                $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
            });


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();



            // INITIALIZATION OF NAVBAR VERTICAL NAVIGATION
            // =======================================================
            var sidebar = $('.js-navbar-vertical-aside').hsSideNav();


            // INITIALIZATION OF TOOLTIP IN NAVBAR VERTICAL MENU
            // =======================================================
            $('.js-nav-tooltip-link').tooltip({ boundary: 'window' })

            $(".js-nav-tooltip-link").on("show.bs.tooltip", function (e) {
                if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
                    return false;
                }
            });


            // INITIALIZATION OF UNFOLD
            // =======================================================
            $('.js-hs-unfold-invoker').each(function () {
                var unfold = new HSUnfold($(this)).init();
            });


            // INITIALIZATION OF FORM SEARCH
            // =======================================================
            $('.js-form-search').each(function () {
                new HSFormSearch($(this)).init()
            });


            // INITIALIZATION OF SHOW PASSWORD
            // =======================================================
            $('.js-toggle-password').each(function () {
                new HSTogglePassword(this).init()
            });


            // INITIALIZATION OF FILE ATTACH
            // =======================================================
            $('.js-file-attach').each(function () {
                var customFile = new HSFileAttach($(this)).init();
            });


            // INITIALIZATION OF TABS
            // =======================================================
            $('.js-tabs-to-dropdown').each(function () {
                var transformTabsToBtn = new HSTransformTabsToBtn($(this)).init();
            });


            // INITIALIZATION OF STEP FORM
            // =======================================================
            $('.js-step-form').each(function () {
                var stepForm = new HSStepForm($(this), {
                    finish: function () {
                        $("#addUserStepFormProgress").hide();
                        $("#addUserStepFormContent").hide();
                        $("#successMessageContent").show();
                    }
                }).init();
            });


            // INITIALIZATION OF MASKED INPUT
            // =======================================================
            $('.js-masked-input').each(function () {
                var mask = $.HSCore.components.HSMask.init($(this));
            });


            // INITIALIZATION OF SELECT2
            // =======================================================
            $('.js-select2-custom').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });


            // INITIALIZATION OF COUNTERS
            // =======================================================
            $('.js-counter').each(function () {
                var counter = new HSCounter($(this)).init();
            });


            // INITIALIZATION OF DATATABLES
            // =======================================================
            var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        className: 'd-none'
                    },
                    {
                        extend: 'excel',
                        className: 'd-none'
                    },
                    {
                        extend: 'csv',
                        className: 'd-none'
                    },
                    {
                        extend: 'pdf',
                        className: 'd-none'
                    },
                    {
                        extend: 'print',
                        className: 'd-none'
                    },
                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableCheckAll',
                        counter: '#datatableCounter',
                        counterInfo: '#datatableCounterInfo'
                    }
                },
                language: {
                    zeroRecords: '<div class="text-center p-4">' +
                        '<img class="mb-3" src="./assets/svg/illustrations/sorry.svg" alt="Image Description" style="width: 7rem;">' +
                        '<p class="mb-0">No data to show</p>' +
                        '</div>'
                }
            });

            $('#export-copy').click(function () {
                datatable.button('.buttons-copy').trigger()
            });

            $('#export-excel').click(function () {
                datatable.button('.buttons-excel').trigger()
            });

            $('#export-csv').click(function () {
                datatable.button('.buttons-csv').trigger()
            });

            $('#export-pdf').click(function () {
                datatable.button('.buttons-pdf').trigger()
            });

            $('#export-print').click(function () {
                datatable.button('.buttons-print').trigger()
            });

            $('.js-datatable-filter').on('change', function () {
                var $this = $(this),
                    elVal = $this.val(),
                    targetColumnIndex = $this.data('target-column-index');

                datatable.column(targetColumnIndex).search(elVal).draw();
            });

            $('#datatableSearch').on('mouseup', function (e) {
                var $input = $(this),
                    oldValue = $input.val();

                if (oldValue == "") return;

                setTimeout(function () {
                    var newValue = $input.val();

                    if (newValue == "") {
                        // Gotcha
                        datatable.search('').draw();
                    }
                }, 1);
            });


            // INITIALIZATION OF QUICK VIEW POPOVER
            // =======================================================
            $('#editUserPopover').popover('show');

            $(document).on('click', '#closeEditUserPopover', function () {
                $('#editUserPopover').popover('dispose');
            });

            $('#editUserModal').on('show.bs.modal', function () {
                $('#editUserPopover').popover('dispose');
            });


            // DARK POPOVER
            // =======================================================
            $('[data-toggle="popover-dark"]').on('shown.bs.popover', function () {
                $('.popover').last().addClass('popover-dark')
            })
        });
    </script>

    <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="~/js/polyfill.min.js"><\/script>');
    </script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
